html { width:100%;  height:100%; font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 625%; overflow:hidden;}
body { margin: 0; font-size: .14rem; line-height: 1.5; color: #333333; background-color: white; height: 100%; width:100%; overflow: hidden;  }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #333; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
table{ border-collapse:collapse;  border-spacing: 0; width:100%; }
td, th{font-weight:normal;}
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; fdfdf}
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }
em, strong{ font-style:normal;}
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; font-weight:normal; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
i, strong, b{ font-style:normal;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: transparent;}
@import 'public';
@import 'base';
@import 'common';
input, button, textarea{
  outline:none;
  -webkit-appearance: none;
}
a{
  font-size:.14rem;
  text-decoration:none;
  color: color(c333);
  outline:none;

}
a.react {
  color: inherit;
  height: 100%;
  display: block;
  &:active{
    background: rgba(0,0,0, .1);
    outline: 0;
  }
}
.on-left{
  float:left;
}
.on-right{
  float:right;
}
.mt15{
  margin-top: .15rem;
}
.mt20{
  margin-top: .2rem;
}
.hide{
  display:none;
}
.w{
  padding:0 .1rem;
}