<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>注册送10元</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../stylesheets/activitys/activity1.19.css" />
	<link rel="stylesheet" href="../../stylesheets/activitys/activity_v1_7_2.css" />
	<script type="application/javascript" src="../../dist/libs/template.min.js"></script>
    <script data-main="../../js/main" src="../../dist/require.min.js"></script>

</head>
<body ng-controller="registerCtrl">

<article class="main">
    <section>
       <img src="../../images/activitys/v1_7_2/theme_img.png">
    </section>
    <section>
        <div><a href="javascript:void(0)" class="receive-btn" id="take" ng-bind="data.btnText" ng-click="toShow($event)"></a></div></div>
        <ul class="tips">
            <li class="tit"><i>1</i>注册即送10元</li>
            <li>提速土豪梦想</li>
        </ul>
            <img src="../../images/activitys/v1_7_2/bg_01.png">
        </section>
        <section>
            <ul class="tips2">
                <li class="tit"><i>2</i>充50得80</li>
                <li>一次到账，</li>
                <li>无需等待</li>
            </ul>
            <img src="../../images/activitys/v1_7_2/bg_02.png">
        </section>
        <section>
            <ul class="tips">
                <li class="tit"><i>3</i>分享抢红包</li>
                <li>邀请小伙伴，</li>
                <li>抢201<span style="opacity:.4">.</span>5元红包过大年</li>
            </ul>
            <img src="../../images/activitys/v1_7_2/bg_03.png">
        </section>
        <section>
            <div ng-show="">
                您已成功兑换80元红包奖励，<br />
                请参与分享有礼，继续赢取红包。
            </div>
            <div class="btn"><a href="javascript:void(0)" class="receive-btn" id="take" ng-bind="data.btnText" ng-click="toShow($event)"></a></div></div>
            <ul class="tips">
                <li class="tit"><i>4</i>玩积分兑红包</li>
                <li>积分竞猜赢积分，</li>
                <li>积分商城兑红包，</li>
                <li>不花钱也买彩票，</li>
                <li>就是这么任性！</li>
            </ul>
            <img src="../../images/activitys/v1_7_2/bg_04.png">
        </section>
    </section>

</article>
<register imgsrc="../../images/activitys/a.1.19/take-layer.png"  ng-click="toHide($event)" bBtn="data.btnText" ><img src="../../images/activitys/a.1.19/take-layer.png" /></register>


</body>
</html>