/*
Error: An @import loop has been found:
           D:/项目文件/html5购彩/sass/common.scss imports D:/项目文件/html5购彩/sass/base.scss
           D:/项目文件/html5购彩/sass/base.scss imports D:/项目文件/html5购彩/sass/common.scss
        on line 44 of D:/项目文件/html5购彩/sass/base.scss
        from line 1 of D:/项目文件/html5购彩/sass/common.scss

39:   min-width: 1rem;
40:   font-size: .18rem;
41:   background: color(red);
42:   overflow:hidden;
43:   &:active{
44:     opacity: .8;
45:   }
46: }
47: .btn-cancel{
48:   height:44px;
49:   min-width: 1rem;

Backtrace:
D:/项目文件/html5购彩/sass/base.scss:44
D:/项目文件/html5购彩/sass/common.scss:1
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:545:in `handle_import_loop!'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:308:in `visit_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `visit_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `visit_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:88:in `with_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:88:in `with_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/engine.rb:268:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/bin/compass:30
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/bin/compass:44:in `call'
C:/Ruby187/lib/ruby/gems/1.8/gems/compass-1.0.1/bin/compass:44
C:/Ruby187/bin/compass:23:in `load'
C:/Ruby187/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: An @import loop has been found:\A            D:/项目文件/html5购彩/sass/common.scss imports D:/项目文件/html5购彩/sass/base.scss\A            D:/项目文件/html5购彩/sass/base.scss imports D:/项目文件/html5购彩/sass/common.scss\A         on line 44 of D:/项目文件/html5购彩/sass/base.scss\A         from line 1 of D:/项目文件/html5购彩/sass/common.scss\A \A 39:   min-width: 1rem;\A 40:   font-size: .18rem;\A 41:   background: color(red);\A 42:   overflow:hidden;\A 43:   &:active{\A 44:     opacity: .8;\A 45:   }\A 46: }\A 47: .btn-cancel{\A 48:   height:44px;\A 49:   min-width: 1rem;"; }
